In [1]:
import pandas as pd
import numpy as np
import s3fs
import os
import io
import boto3

import s3fs


from dotenv import load_dotenv
load_dotenv(verbose=True)

def aws_session(region_name='us-east-1'):
    return boto3.session.Session(aws_access_key_id=os.getenv('AWS_ACCESS_KEY_ID'), #looks for any .env file
                                aws_secret_access_key=os.getenv('AWS_ACCESS_KEY_SECRET'), #Has to be in same directory
                                region_name=region_name) #from above

def make_bucket(name, acl): 
    session = aws_session()
    s3_resource = session.resource('s3')
    return s3_resource.create_bucket(Bucket=name, ACL=acl)

def upload_file_to_bucket(bucket_name, file_path):
    session = aws_session()
    s3_resource = session.resource('s3')
    file_dir, file_name = os.path.split(file_path)

    bucket = s3_resource.Bucket(bucket_name)
    bucket.upload_file(
      Filename=file_path,
      Key=file_name,
      ExtraArgs={'ACL': 'public-read'}
    )

    s3_url = f"https://{bucket_name}.s3.amazonaws.com/{file_name}"
    return s3_url

def download_file_from_bucket(bucket_name, s3_key, dst_path):
    session = aws_session()
    s3_resource = session.resource('s3')
    bucket = s3_resource.Bucket(bucket_name)
    bucket.download_file(Key=s3_key, Filename=dst_path)

## download_file_from_bucket('music-demo-lyrics', 'lyrics_25k.csv', 'short_name.csv')
## with open('short_name.csv') as fo:
    ## print(fo.read())

last_df = pd.read_csv('s3://worm-begin/labeled_lyrics_cleaned.csv')
"""It's a biggun!!"""

"""41 duplicates, in 160K titles"""
last_df.drop_duplicates(subset=['artist','song'], inplace = True)
last2_df = last_df.rename(columns={'artist':'artist_name','seq':'lyrics','song':'song_name'})
last3_df = pd.DataFrame(last2_df, columns=['original_csv','artist_name','song_name','link','lyrics','language','genre','date'])
last3_df['original_csv'] = 'big_no_genre'
last3_df.drop_duplicates(subset=['lyrics'], inplace = True)

#last3_df.to_csv('big_no_genre_df.csv', index = False)
#upload_file_to_bucket('music-lyrics','big_no_genre_df.csv')

In [2]:
last3_df

,original_csv,artist_name,song_name,link,lyrics,language,genre,date
0,big_no_genre,Elijah Blake,Everyday,NaN,"No, no\r\nI ain't ever trapped out the bando\r...",NaN,NaN,NaN
1,big_no_genre,Elijah Blake,Live Till We Die,NaN,"The drinks go down and smoke goes up, I feel m...",NaN,NaN,NaN
2,big_no_genre,Elijah Blake,The Otherside,NaN,She don't live on planet Earth no more\r\nShe ...,NaN,NaN,NaN
3,big_no_genre,Elijah Blake,Pinot,NaN,"Trippin' off that Grigio, mobbin', lights low\...",NaN,NaN,NaN
4,big_no_genre,Elijah Blake,Shadows & Diamonds,NaN,"I see a midnight panther, so gallant and so br...",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
158348,big_no_genre,Adam Green,Friends of Mine,NaN,"And we live on borrowed time,\r\nBut this head...",NaN,NaN,NaN
158349,big_no_genre,Adam Green,Frozen in Time,NaN,Frozin in time forever\r\nCarrying that torch ...,NaN,NaN,NaN
158350,big_no_genre,Adam Green,Hard to Be a Girl,NaN,Hard to be a girl. \r\nSo nice to be a boy. \r...,NaN,NaN,NaN
158351,big_no_genre,Adam Green,I Wanna Die,NaN,"I want to chose to die,\r\nAnd be buried with ...",NaN,NaN,NaN
158352,big_no_genre,Adam Green,Musical Ladders,NaN,Musical ladders\r\nLeaning on mountains\r\nBat...,NaN,NaN,NaN

In [3]:
last3_df[last3_df.duplicated()]

Empty DataFrame
Columns: [original_csv, artist_name, song_name, link, lyrics, language, genre, date]
Index: []

In [49]:
last3_df.iloc[0]['lyrics']

"No, no\r\nI ain't ever trapped out the bando\r\nBut oh Lord, don't get me wrong\r\nI know a couple niggas that do\r\nI'm from a place where everybody knows your name\r\nThey say I gotta watch my attitude\r\nWhen they see money, man they all start actin' strange\r\nSo fuck with the ones that fuck with you\r\nThey can never say I'm brand new\r\n\r\nIt's everyday, everyday\r\nEveryday, everyday, everyday\r\nEveryday, everyday\r\nEveryday, everyday\r\nI've been talkin' my shit, nigga that's regular\r\nI've been lovin' 'em thick, life is spectacular\r\nI spend like I'ma die rich, nigga I'm flexin', yeah\r\nEveryday, that's everyday\r\nThat's everyday\r\nThat's everyday\r\nThat's everyday, everyday\r\n\r\nI see all of these wanna-be hot R&B singers\r\nI swear you all sound the same\r\nThey start from the bottom, so far from the motto\r\nYou niggas'll never be Drake\r\nShout out to OVO\r\nMost of them prolly don't know me though\r\nI stay in the cut, I don't fuck with no\r\nBody but I D, that's a pun on No I.D\r\nWhen nobody know my name\r\nRunnin' for my dream wasn't hard to do\r\nYou break bread, I swear they all pull out a plate\r\nEat with the ones who starved with you\r\nIf I'm winnin' then my crew can't lose\r\n\r\nIt's everyday, everyday\r\nEveryday, everyday, everyday\r\nEveryday, everyday\r\nEveryday, everyday\r\nI've been talkin' my shit, nigga that's regular\r\nI've been lovin' 'em thick, life is spectacular\r\nI spend like I'ma die rich, nigga I'm flexin', yeah\r\nEveryday, that's everyday\r\nThat's everyday\r\nThat's everyday\r\nThat's everyday, everyday\r\n\r\nI heard since you got money\r\nYou changed, you're actin' funny\r\nThat's why I gets on my lonely\r\nYou be lovin' when change is a hobby\r\nWho do you dress when you ain't got nobody?\r\n\r\nIt's everyday, everyday\r\nEveryday, everyday, everyday\r\nEveryday, everyday\r\nEveryday, everyday\r\nI've been talkin' my shit, nigga that's regular\r\nI've been lovin' 'em thick, life is spectacular\r\nI spend like I'ma die rich, nigga I'm flexin', yeah\r\nEveryday, that's everyday\r\nThat's everyday\r\nThat's everyday\r\nThat's everyday, everyday"

In [9]:
import pandas as pd
import numpy as np
import s3fs
import os
import io
import boto3

import s3fs

from dotenv import load_dotenv
load_dotenv(verbose=True)

def aws_session(region_name='us-east-1'):
    return boto3.session.Session(aws_access_key_id=os.getenv('AWS_ACCESS_KEY_ID'), #looks for any .env file
                                aws_secret_access_key=os.getenv('AWS_ACCESS_KEY_SECRET'), #Has to be in same directory
                                region_name=region_name) #from above

def make_bucket(name, acl): 
    session = aws_session()
    s3_resource = session.resource('s3')
    return s3_resource.create_bucket(Bucket=name, ACL=acl)

def upload_file_to_bucket(bucket_name, file_path):
    session = aws_session()
    s3_resource = session.resource('s3')
    file_dir, file_name = os.path.split(file_path)

    bucket = s3_resource.Bucket(bucket_name)
    bucket.upload_file(
      Filename=file_path,
      Key=file_name,
      ExtraArgs={'ACL': 'public-read'}
    )

    s3_url = f"https://{bucket_name}.s3.amazonaws.com/{file_name}"
    return s3_url

def download_file_from_bucket(bucket_name, s3_key, dst_path):
    session = aws_session()
    s3_resource = session.resource('s3')
    bucket = s3_resource.Bucket(bucket_name)
    bucket.download_file(Key=s3_key, Filename=dst_path)

## download_file_from_bucket('music-demo-lyrics', 'lyrics_25k.csv', 'short_name.csv')
## with open('short_name.csv') as fo:
    ## print(fo.read())

last_df = pd.read_csv('s3://worm-begin/labeled_lyrics_cleaned.csv')
"""It's a biggun!!"""

"""41 duplicates, in 160K titles"""
#last_df.drop_duplicates(subset=['artist','song'], inplace = True)
last2_df = last_df.rename(columns={'artist':'artist_name','seq':'lyrics','song':'song_name'})
last3_df = pd.DataFrame(last2_df, columns=['original_csv','artist_name','song_name','link','lyrics','language','genre','date'])
last3_df['original_csv'] = 'big_no_genre'

#last3_df.drop_duplicates(subset=['lyrics'], inplace = True)
#last3_df.to_csv('big_no_genre_df.csv', index = False)
#upload_file_to_bucket('music-lyrics','big_no_genre_df.csv')

In [10]:
last3_df.describe(include='all')

,original_csv,artist_name,song_name,link,lyrics,language,genre,date
count,158353,158353,158353,0.0,158353,0.0,0.0,0.0
unique,1,14691,99031,NaN,135991,NaN,NaN,NaN
top,big_no_genre,Elvis Presley,Have Yourself a Merry Little Christmas,NaN,"Somewhere over the rainbow, way up high\r\nThe...",NaN,NaN,NaN
freq,158353,821,162,NaN,167,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
last3_df[last3_df.duplicated()]

,original_csv,artist_name,song_name,link,lyrics,language,genre,date
125278,big_no_genre,Andy Williams,Blueberry Hill,NaN,I found my thrill on blueberry hill\r\nOn blue...,NaN,NaN,NaN
125280,big_no_genre,Andy Williams,Love Letters in the Sand,NaN,On a day like today\r\nWe pass the time away\r...,NaN,NaN,NaN
125287,big_no_genre,Andy Williams,Unchained Melody,NaN,"Oh, my love, my darling\nI've hungered for you...",NaN,NaN,NaN
125288,big_no_genre,Andy Williams,Love Song of Kalua,NaN,This is the night of love\r\nThe shining hour ...,NaN,NaN,NaN
125289,big_no_genre,Andy Williams,Some Enchanted Evening,NaN,"Some enchanted evening, you may see a stranger...",NaN,NaN,NaN
125290,big_no_genre,Andy Williams,Song of the Islands,NaN,Islands of Hawaii\r\nWhere skies of blue are c...,NaN,NaN,NaN
125291,big_no_genre,Andy Williams,Sweet Leilani,NaN,This is the moment I've waited for\r\nI can he...,NaN,NaN,NaN
125292,big_no_genre,Andy Williams,"To You Sweetheart, Aloha",NaN,I've traveled far\r\nThe land and the sea\r\nB...,NaN,NaN,NaN
125296,big_no_genre,Andy Williams,He's Got the Whole World in His Hands,NaN,He's got the whole world in his hands he's got...,NaN,NaN,NaN
133164,big_no_genre,Ella Fitzgerald,O Holy Night,NaN,"O holy night, the stars are brightly shining\r...",NaN,NaN,NaN
141742,big_no_genre,John Rich,Mack Truck,NaN,What's up y'all? This is Kid Rock\r\nTurn it u...,NaN,NaN,NaN

In [8]:
last3_df[last3_df.duplicated()]

Empty DataFrame
Columns: [original_csv, artist_name, song_name, link, lyrics, language, genre, date]
Index: []

In [12]:
last3_df.drop_duplicates(inplace = True)
last3_df.describe(include='all')

,original_csv,artist_name,song_name,link,lyrics,language,genre,date
count,158342,158342,158342,0.0,158342,0.0,0.0,0.0
unique,1,14691,99031,NaN,135991,NaN,NaN,NaN
top,big_no_genre,Elvis Presley,Have Yourself a Merry Little Christmas,NaN,"Somewhere over the rainbow, way up high\r\nThe...",NaN,NaN,NaN
freq,158342,821,162,NaN,167,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
last3_df.to_csv('big_no_genre_df.csv', index = False)

In [17]:
download_file_from_bucket('worm-begin','genres_lyrics_data.csv','genres_lyrics.csv')
with open('genres_lyrics.csv') as fo:
    lyrics_df = pd.read_csv(fo)

download_file_from_bucket('worm-begin','genres_artists_data.csv','genres_genres.csv')
with open('genres_genres.csv') as fo:
    genres_df = pd.read_csv(fo)

"""Reduce genres_df to just artist-name (the key with lyrics_df) and drop dupes."""
genres1_df = pd.DataFrame(genres_df, columns=['Link','Genre'])
genres2_df = genres1_df.rename(columns={'Link':'artist_name','Genre':'genre'})
genres2_df[genres2_df.duplicated(keep = False)]

"""Reorder lyrics_df columns and rename IAW naming convention. Drop duplicates.
Drop all but the ENGLISH lyrics."""
lyrics2_df = lyrics_df.rename(columns={'ALink':'artist_name','SName':'song_name','SLink':'link','Lyric':'lyrics','Idiom':'language'})
lyrics3_df = (lyrics2_df[lyrics2_df['language']=='ENGLISH'])
lyrics3_df.drop_duplicates(inplace = True)

<ipython-input-17-f8d532a3daa5>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lyrics3_df.drop_duplicates(inplace = True)

In [18]:
lyrics3_df

,artist_name,song_name,link,lyrics,language
0,/10000-maniacs/,More Than This,/10000-maniacs/more-than-this.html,I could feel at the time. There was no way of ...,ENGLISH
1,/10000-maniacs/,Because The Night,/10000-maniacs/because-the-night.html,"Take me now, baby, here as I am. Hold me close...",ENGLISH
2,/10000-maniacs/,These Are Days,/10000-maniacs/these-are-days.html,These are. These are days you'll remember. Nev...,ENGLISH
3,/10000-maniacs/,A Campfire Song,/10000-maniacs/a-campfire-song.html,"A lie to say, ""O my mountain has coal veins an...",ENGLISH
4,/10000-maniacs/,Everyday Is Like Sunday,/10000-maniacs/everyday-is-like-sunday.html,Trudging slowly over wet sand. Back to the ben...,ENGLISH
...,...,...,...,...,...
207611,/sambo/,Smells Like Teen Spirit,/sambo/smells-like-teen-spirit.html,"(Chorus). Hello, hello,hello,how low. Hello,he...",ENGLISH
207624,/sambo/,Valerie,/sambo/valerie.html,Well sometimes I go out by myself. And I look ...,ENGLISH
207628,/sambo/,Wake Me Up,/sambo/wake-me-up.html,Feeling my way through the darkness. Guided by...,ENGLISH
207792,/seu-jorge/,Don't,/seu-jorge/dont.html,"Don't, don't, that's what you say. Each time t...",ENGLISH
209285,/zeca-pagodinho/,Deixa A Vida Me Levar (translation),/zeca-pagodinho/deixa-a-vida-me-levar-translat...,I've been. For almost everything in life. In t...,ENGLISH

In [20]:
lyrics4_df = lyrics3_df.drop_duplicates(inplace = True)

<ipython-input-20-8d3e3fa4343d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lyrics4_df = lyrics3_df.drop_duplicates(inplace = True)

In [24]:
lyrics3_df[lyrics3_df.duplicated()]

Empty DataFrame
Columns: [artist_name, song_name, link, lyrics, language]
Index: []

In [25]:
lyrics3_df.drop_duplicates()

,artist_name,song_name,link,lyrics,language
0,/10000-maniacs/,More Than This,/10000-maniacs/more-than-this.html,I could feel at the time. There was no way of ...,ENGLISH
1,/10000-maniacs/,Because The Night,/10000-maniacs/because-the-night.html,"Take me now, baby, here as I am. Hold me close...",ENGLISH
2,/10000-maniacs/,These Are Days,/10000-maniacs/these-are-days.html,These are. These are days you'll remember. Nev...,ENGLISH
3,/10000-maniacs/,A Campfire Song,/10000-maniacs/a-campfire-song.html,"A lie to say, ""O my mountain has coal veins an...",ENGLISH
4,/10000-maniacs/,Everyday Is Like Sunday,/10000-maniacs/everyday-is-like-sunday.html,Trudging slowly over wet sand. Back to the ben...,ENGLISH
...,...,...,...,...,...
207611,/sambo/,Smells Like Teen Spirit,/sambo/smells-like-teen-spirit.html,"(Chorus). Hello, hello,hello,how low. Hello,he...",ENGLISH
207624,/sambo/,Valerie,/sambo/valerie.html,Well sometimes I go out by myself. And I look ...,ENGLISH
207628,/sambo/,Wake Me Up,/sambo/wake-me-up.html,Feeling my way through the darkness. Guided by...,ENGLISH
207792,/seu-jorge/,Don't,/seu-jorge/dont.html,"Don't, don't, that's what you say. Each time t...",ENGLISH
209285,/zeca-pagodinho/,Deixa A Vida Me Levar (translation),/zeca-pagodinho/deixa-a-vida-me-levar-translat...,I've been. For almost everything in life. In t...,ENGLISH

In [26]:
lyrics3_df.drop_duplicates(inplace = True)

<ipython-input-26-9018c1e40505>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lyrics3_df.drop_duplicates(inplace = True)

In [27]:
lyrics3_df.drop_duplicates(subset='all', inplace = True)

KeyError: Index(['all'], dtype='object')

In [28]:
genres2_df

              artist_name  genre
0         /10000-maniacs/   Rock
1             /12-stones/   Rock
2                   /311/   Rock
3         /4-non-blondes/   Rock
4     /a-cruz-esta-vazia/   Rock
...                   ...    ...
3237           /pericles/  Samba
3238        /rodriguinho/  Samba
3239              /sambo/   Rock
3240         /thiaguinho/  Samba
3241    /turma-do-pagode/  Samba

[3242 rows x 2 columns]

In [29]:
genres2_df[genres2_df.duplicated()]

Empty DataFrame
Columns: [artist_name, genre]
Index: []

In [30]:
lyrics3_df[lyrics3_df.duplicated(keep = False)]
lyrics3_df.describe(include='all')

,artist_name,song_name,link,lyrics,language
count,91622,91622,91622,91622,91622
unique,1198,70261,91611,90796,1
top,/elvis-presley/,Intro,/chris-isaak/cant-do-a-thing-to-stop-me.html,[This song is an instrumental.].,ENGLISH
freq,747,51,2,16,91622

In [31]:
merged_genre_df = pd.merge(lyrics3_df,genres2_df,on = 'artist_name') 
merged_genre_df.describe(include='all')

,artist_name,song_name,link,lyrics,language,genre
count,94915,94915,94915,94915,94915,94915
unique,1151,67266,87151,86419,1,6
top,/chris-brown/,Intro,/roxette/i-could-never-give-you-up.html,[This song is an instrumental.].,ENGLISH,Rock
freq,1124,55,4,16,94915,50160

In [34]:
merged_genre_df['artist_name'].replace('(/)','',regex=True, inplace = True)

In [35]:
merged_genre_df

,artist_name,song_name,link,lyrics,language,genre
0,10000-maniacs,More Than This,/10000-maniacs/more-than-this.html,I could feel at the time. There was no way of ...,ENGLISH,Rock
1,10000-maniacs,More Than This,/10000-maniacs/more-than-this.html,I could feel at the time. There was no way of ...,ENGLISH,Pop
2,10000-maniacs,Because The Night,/10000-maniacs/because-the-night.html,"Take me now, baby, here as I am. Hold me close...",ENGLISH,Rock
3,10000-maniacs,Because The Night,/10000-maniacs/because-the-night.html,"Take me now, baby, here as I am. Hold me close...",ENGLISH,Pop
4,10000-maniacs,These Are Days,/10000-maniacs/these-are-days.html,These are. These are days you'll remember. Nev...,ENGLISH,Rock
...,...,...,...,...,...,...
94910,sambo,Valerie,/sambo/valerie.html,Well sometimes I go out by myself. And I look ...,ENGLISH,Rock
94911,sambo,Wake Me Up,/sambo/wake-me-up.html,Feeling my way through the darkness. Guided by...,ENGLISH,Samba
94912,sambo,Wake Me Up,/sambo/wake-me-up.html,Feeling my way through the darkness. Guided by...,ENGLISH,Rock
94913,seu-jorge,Don't,/seu-jorge/dont.html,"Don't, don't, that's what you say. Each time t...",ENGLISH,Samba
94914,zeca-pagodinho,Deixa A Vida Me Levar (translation),/zeca-pagodinho/deixa-a-vida-me-levar-translat...,I've been. For almost everything in life. In t...,ENGLISH,Samba

In [36]:
merged2_genre_df = pd.DataFrame((merged_genre_df), columns = ['original_csv','artist_name','song_name','link','lyrics','language','genre','date'])
merged2_genre_df['original_csv'] = 'genres_csv'

In [37]:
merged2_genre_df

,original_csv,artist_name,song_name,link,lyrics,language,genre,date
0,genres_csv,10000-maniacs,More Than This,/10000-maniacs/more-than-this.html,I could feel at the time. There was no way of ...,ENGLISH,Rock,NaN
1,genres_csv,10000-maniacs,More Than This,/10000-maniacs/more-than-this.html,I could feel at the time. There was no way of ...,ENGLISH,Pop,NaN
2,genres_csv,10000-maniacs,Because The Night,/10000-maniacs/because-the-night.html,"Take me now, baby, here as I am. Hold me close...",ENGLISH,Rock,NaN
3,genres_csv,10000-maniacs,Because The Night,/10000-maniacs/because-the-night.html,"Take me now, baby, here as I am. Hold me close...",ENGLISH,Pop,NaN
4,genres_csv,10000-maniacs,These Are Days,/10000-maniacs/these-are-days.html,These are. These are days you'll remember. Nev...,ENGLISH,Rock,NaN
...,...,...,...,...,...,...,...,...
94910,genres_csv,sambo,Valerie,/sambo/valerie.html,Well sometimes I go out by myself. And I look ...,ENGLISH,Rock,NaN
94911,genres_csv,sambo,Wake Me Up,/sambo/wake-me-up.html,Feeling my way through the darkness. Guided by...,ENGLISH,Samba,NaN
94912,genres_csv,sambo,Wake Me Up,/sambo/wake-me-up.html,Feeling my way through the darkness. Guided by...,ENGLISH,Rock,NaN
94913,genres_csv,seu-jorge,Don't,/seu-jorge/dont.html,"Don't, don't, that's what you say. Each time t...",ENGLISH,Samba,NaN
94914,genres_csv,zeca-pagodinho,Deixa A Vida Me Levar (translation),/zeca-pagodinho/deixa-a-vida-me-levar-translat...,I've been. For almost everything in life. In t...,ENGLISH,Samba,NaN

In [40]:
merged2_genre_df.iloc[0]['lyrics']

"I could feel at the time. There was no way of knowing. Fallen leaves in the night. Who can say where they're blowing. As free as the wind. Hopefully learning. Why the sea on the tide. Has no way of turning. More than this. You know there's nothing. More than this. Tell me one thing. More than this. You know there's nothing. It was fun for a while. There was no way of knowing. Like a dream in the night. Who can say where we're going. No care in the world. Maybe I'm learning. Why the sea on the tide. Has no way of turning. More than this. You know there's nothing. More than this. Tell me one thing. More than this. You know there's nothing. More than this. You know there's nothing. More than this. Tell me one thing. More than this. There's nothing."

In [42]:
merged2_genre_df.genre.unique()

array(['Rock', 'Pop', 'Hip Hop', 'Sertanejo', 'Funk Carioca', 'Samba'],
      dtype=object)

In [43]:
merged2_genre_df.to_csv('merged3_genre_df.csv', index=False)

In [44]:
decades_df = pd.read_csv('s3://worm-begin/decades_tcc_ceds_music.csv')

decades2_df = pd.DataFrame((decades_df), columns=['original_csv','artist_name','track_name','link','lyrics','language','genre','release_date'])
decades2_df['original_csv'] = 'decades_tcc'
decades3_df = decades2_df.rename(columns={'track_name':'song_name','release_date':'date'})

In [45]:
decades3_df

,original_csv,artist_name,song_name,link,lyrics,language,genre,date
0,decades_tcc,mukesh,mohabbat bhi jhoothi,NaN,hold time feel break feel untrue convince spea...,NaN,pop,1950
1,decades_tcc,frankie laine,i believe,NaN,believe drop rain fall grow believe darkest ni...,NaN,pop,1950
2,decades_tcc,johnnie ray,cry,NaN,sweetheart send letter goodbye secret feel bet...,NaN,pop,1950
3,decades_tcc,pÃ©rez prado,patricia,NaN,kiss lips want stroll charm mambo chacha merin...,NaN,pop,1950
4,decades_tcc,giorgos papadopoulos,apopse eida oneiro,NaN,till darling till matter know till dream live ...,NaN,pop,1950
...,...,...,...,...,...,...,...,...
28367,decades_tcc,mack 10,10 million ways,NaN,cause fuck leave scar tick tock clock come kno...,NaN,hip hop,2019
28368,decades_tcc,m.o.p.,ante up (robbin hoodz theory),NaN,minks things chain ring braclets yap fame come...,NaN,hip hop,2019
28369,decades_tcc,nine,whutcha want?,NaN,get ban get ban stick crack relax plan attack ...,NaN,hip hop,2019
28370,decades_tcc,will smith,switch,NaN,check check yeah yeah hear thing call switch g...,NaN,hip hop,2019
28371,decades_tcc,jeezy,r.i.p.,NaN,remix killer alive remix thriller trap bitch s...,NaN,hip hop,2019

In [47]:
decades3_df.iloc[0]['lyrics']

'hold time feel break feel untrue convince speak voice tear try hold hurt try forgive okay play break string feel heart want feel tell real truth hurt lie worse anymore little turn dust play house ruin run leave save like chase train late late tear try hold hurt try forgive okay play break string feel heart want feel tell real truth hurt lie worse anymore little run leave save like chase train know late late play break string feel heart want feel tell real truth hurt lie worse anymore little know little hold time feel'

In [52]:
decades3_df[decades3_df.duplicated()]

Empty DataFrame
Columns: [original_csv, artist_name, song_name, link, lyrics, language, genre, date]
Index: []

In [51]:
decades3_df[decades3_df.duplicated(subset=['lyrics'])]

Empty DataFrame
Columns: [original_csv, artist_name, song_name, link, lyrics, language, genre, date]
Index: []

In [53]:
decades3_df[decades3_df.duplicated(subset=['artist_name','song_name'])]

Empty DataFrame
Columns: [original_csv, artist_name, song_name, link, lyrics, language, genre, date]
Index: []

In [54]:
decades3_df[decades3_df.duplicated(subset=['song_name'])]

,original_csv,artist_name,song_name,link,lyrics,language,genre,date
160,decades_tcc,ricky nelson,unchained melody,NaN,darling hungred touch long lonely time time go...,NaN,pop,1958
233,decades_tcc,neil sedaka,as long as i live,NaN,long live long need long live arm dream come t...,NaN,pop,1959
257,decades_tcc,the brothers four,angelique-o,NaN,angeliqueo angeliqueo mama angeliqueo angeliqu...,NaN,pop,1959
271,decades_tcc,connie francis,non dimenticar,NaN,dimenticar mean forget heart darling forget me...,NaN,pop,1959
278,decades_tcc,fats domino,i'm walkin',NaN,walkin talkin hopin come yeahyeah lonely waiti...,NaN,pop,1959
...,...,...,...,...,...,...,...,...
28325,decades_tcc,rob base & dj ez rock,it takes two,NaN,take thing right take outta sight wanna right ...,NaN,hip hop,2019
28340,decades_tcc,jaydayoungan,hop out,NaN,heroes tryna glock straight work niggas talkin...,NaN,hip hop,2019
28347,decades_tcc,aaliyah,more than a woman,NaN,passion instant sweat bead feel cupid shoot he...,NaN,hip hop,2019
28351,decades_tcc,kurtis blow,basketball,NaN,chours play basketball basketball play basketb...,NaN,hip hop,2019
28357,decades_tcc,ghostface killah,iron maiden,NaN,doin turf punk message smokey smokey smokey mo...,NaN,hip hop,2019

In [55]:
decades3_df.genre.unique()

array(['pop', 'country', 'blues', 'jazz', 'reggae', 'rock', 'hip hop'],
      dtype=object)

In [56]:
decades3_df.to_csv('decades_df.csv', index = False)

In [57]:
decades3_df.describe(include='all')

,original_csv,artist_name,song_name,link,lyrics,language,genre,date
count,28372,28372,28372,0.0,28372,0.0,28372,28372.000000
unique,1,5426,23689,NaN,28372,NaN,7,NaN
top,decades_tcc,johnny cash,tonight,NaN,picture shadow source light blindness blindnes...,NaN,pop,NaN
freq,28372,190,17,NaN,1,NaN,7042,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990.236888
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.487463
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1950.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1975.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1991.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000

In [59]:
download_file_from_bucket('worm-begin', 'lyrics_25k.csv', 'lyrics_25k_df.csv')
with open('lyrics_25k_df.csv') as fo:
    lyrics_25k_df = pd.read_csv(fo)

"""Order and add columns"""
lyrics_25k2_df =  pd.DataFrame((lyrics_25k_df), columns=['original_csv','artist','song_name','link','lyrics','language','genre'])

In [61]:
lyrics_25k2_df

,original_csv,artist,song_name,link,lyrics,language,genre
0,NaN,Backstreet Boys Lyrics,Climbing The Walls,../lyrics/backstreetboys/climbingthewalls.html,"\n\n[Brian:]\nClose your eyes, make a wish\nTh...",NaN,NaN
1,NaN,Westlife Lyrics,How To Break A Heart,../lyrics/westlife/howtobreakaheart.html,\n\nSince you're not worth my love\nI haven't ...,NaN,NaN
2,NaN,Dean Martin Lyrics,I Will,../lyrics/deanmartin/iwill.html,\n\nI don't want to be the one to say I'm gonn...,NaN,NaN
3,NaN,Dean Martin Lyrics,Tell Your Mother Hello,../lyrics/deanmartin/tellyourmotherhello.html,\n\nSure I loved the dear money that shines in...,NaN,NaN
4,NaN,Dean Martin Lyrics,Be Honest With Me,../lyrics/deanmartin/behonestwithme.html,\n\nBe honest with me dear whatever you do\nRe...,NaN,NaN
...,...,...,...,...,...,...,...
25737,NaN,Jason Mraz Lyrics,What Mama Say,../lyrics/jasonmraz/whatmamasay.html,\n\n(La la da da da da...)\n\nWhatever mama sa...,NaN,NaN
25738,NaN,Gesaffelstein Lyrics,Blast Off,https://www.azlyrics.com/lyrics/gesaffelstein/...,\n\nYou've been thinking about this all night\...,NaN,NaN
25739,NaN,Jason Mraz Lyrics,A World With You,../lyrics/jasonmraz/aworldwithyou.html,\n\nLet's hit the road and throw out the map\n...,NaN,NaN
25740,NaN,Jason Mraz Lyrics,Love Is Real,../lyrics/jasonmraz/loveisreal.html,\n\nLove is real it is not just in novels or t...,NaN,NaN
25741,NaN,Jason Mraz Lyrics,Gypsy MC,../lyrics/jasonmraz/gypsymc.html,\n\nI'd like to give a shout out to all the g-...,NaN,NaN

In [62]:
lyrics_25k2_df['artist'].replace(('Lyrics'), '', regex = True, inplace = True)
"""Populate original csv column"""
lyrics_25k2_df['original_csv'] = '25K'
"""Clean up column names"""
lyrics_25k3_df = lyrics_25k2_df.rename(columns={'artist':'artist_name'})

In [63]:
lyrics_25k3_df

,original_csv,artist_name,song_name,link,lyrics,language,genre
0,25K,Backstreet Boys,Climbing The Walls,../lyrics/backstreetboys/climbingthewalls.html,"\n\n[Brian:]\nClose your eyes, make a wish\nTh...",NaN,NaN
1,25K,Westlife,How To Break A Heart,../lyrics/westlife/howtobreakaheart.html,\n\nSince you're not worth my love\nI haven't ...,NaN,NaN
2,25K,Dean Martin,I Will,../lyrics/deanmartin/iwill.html,\n\nI don't want to be the one to say I'm gonn...,NaN,NaN
3,25K,Dean Martin,Tell Your Mother Hello,../lyrics/deanmartin/tellyourmotherhello.html,\n\nSure I loved the dear money that shines in...,NaN,NaN
4,25K,Dean Martin,Be Honest With Me,../lyrics/deanmartin/behonestwithme.html,\n\nBe honest with me dear whatever you do\nRe...,NaN,NaN
...,...,...,...,...,...,...,...
25737,25K,Jason Mraz,What Mama Say,../lyrics/jasonmraz/whatmamasay.html,\n\n(La la da da da da...)\n\nWhatever mama sa...,NaN,NaN
25738,25K,Gesaffelstein,Blast Off,https://www.azlyrics.com/lyrics/gesaffelstein/...,\n\nYou've been thinking about this all night\...,NaN,NaN
25739,25K,Jason Mraz,A World With You,../lyrics/jasonmraz/aworldwithyou.html,\n\nLet's hit the road and throw out the map\n...,NaN,NaN
25740,25K,Jason Mraz,Love Is Real,../lyrics/jasonmraz/loveisreal.html,\n\nLove is real it is not just in novels or t...,NaN,NaN
25741,25K,Jason Mraz,Gypsy MC,../lyrics/jasonmraz/gypsymc.html,\n\nI'd like to give a shout out to all the g-...,NaN,NaN

In [65]:
lyrics_25k3_df.iloc[0]['lyrics']

"\n\n[Brian:]\nClose your eyes, make a wish\nThat this could last forever\nIf only you could stay with me now\nSo tell me what it is\nThat keeps us from each other now\nYeah it's coming to get me\nYou're under my skin\n\n[Brian and All:]\nNo I can't let you go\nYou're a part of me now\nCaught by the taste of your kiss\nAnd I don't wanna know\nThe reason why I\nCan't stay forever like this\nNow I'm climbing the walls cause I miss you\n\n[Brian:]\nTake my hand, take my life\nJust don't take forever\nAnd let me feel your pain kept inside (oh yeah)\nThere's gotta be a way\nFor you and I together now\nYeah it's coming to get me\nYou're under my skin\n\n[Brian and All:]\nNo I can't let you go\nYou're a part of me now\nCaught by the taste of your kiss (ohh)\nAnd I don't wanna know\nThe reason why I\nCan't stay forever like this\nNow I'm climbing the walls cause I miss you\n\n[Howie:]\nIt's an illusion\n\n[Howie and Kevin:]\nHow can I feel this way?\n\n[AJ and Kevin:]\nIf I can't have you\n\n[Howie:]\nIt's an illusion\n\n[Howie and Kevin:]\nNothing is real this way\n\n[AJ and Kevin:]\nIf I can't have you\n\n[Brian and All (Nick):]\nNo I can't let you go\nYou're a part of me now (now)\nCaught by the taste of your kiss (I don't wanna know)\nAnd I don't wanna know\nThe reason why I\nCan't stay forever like this (I'm climbing the walls)\nNow I'm climbing the walls cause I miss\n\n[AJ and Nick:]\nYou\n\n[Brian:]\nOhhhh\nI can't let you go no\n\n[All:]\nAnd I don't wanna know\nThe reason why I\nCan't stay forever like this (ohh ohh)\nNow I'm climbing the walls cause I miss (I miss) you\n"

In [67]:
lyrics_25k3_df[lyrics_25k3_df.duplicated()]

,original_csv,artist_name,song_name,link,lyrics,language,genre
292,25K,Dean Martin,Be Honest With Me,../lyrics/deanmartin/behonestwithme.html,\n\nBe honest with me dear whatever you do\nRe...,NaN,NaN
371,25K,Dean Martin,Return To Me,../lyrics/deanmartin/returntome.html,\n\nReturn to me\nOh my dear I'm so lonely\nHu...,NaN,NaN
387,25K,Dean Martin,Baby Won't You Please Come Home,../lyrics/deanmartin/babywontyoupleasecomehome...,"\n\nBaby, won't you please come home\n'Cause y...",NaN,NaN
407,25K,Dean Martin,I Don't Know Why (I Just Do),../lyrics/deanmartin/idontknowwhyijustdo.html,\n\nI don't know why I love ya like I do\nI do...,NaN,NaN
524,25K,Westlife,World Of Our Own,../lyrics/westlife/worldofourown.html,\n\nYou make me feel funny \nWhen you come aro...,NaN,NaN
...,...,...,...,...,...,...,...
25672,25K,Jason Mraz,No Stopping Us,../lyrics/jasonmraz/nostoppingus.html,\n\nWould it take a bakers dozen to get my poi...,NaN,NaN
25673,25K,Jason Mraz,Sleep All Day,../lyrics/jasonmraz/sleepallday.html,\n\nHis after moan though cries oh no\nHe's bu...,NaN,NaN
25687,25K,Jason Mraz,Too Much Food,../lyrics/jasonmraz/toomuchfood.html,\n\nYou can say that I'm one curly fry in the ...,NaN,NaN
25708,25K,Jason Mraz,"On Love, In Sadness",../lyrics/jasonmraz/onloveinsadness.html,"\n\nOh love it's a brittle madness, I sing abo...",NaN,NaN
25720,25K,Jason Mraz,Absolutely Zero,../lyrics/jasonmraz/absolutelyzero.html,\n\nYou. You were a friend. You were a friend ...,NaN,NaN

In [68]:
lyrics_25k3_df[lyrics_25k3_df.duplicated(subset=['artist_name','song_name'])]

,original_csv,artist_name,song_name,link,lyrics,language,genre
292,25K,Dean Martin,Be Honest With Me,../lyrics/deanmartin/behonestwithme.html,\n\nBe honest with me dear whatever you do\nRe...,NaN,NaN
306,25K,Taylor Swift,Look What You Made Me Do,../lyrics/taylorswift/lookwhatyoumademedo.html,\n\nI don't like your little games\nDon't like...,NaN,NaN
371,25K,Dean Martin,Return To Me,../lyrics/deanmartin/returntome.html,\n\nReturn to me\nOh my dear I'm so lonely\nHu...,NaN,NaN
387,25K,Dean Martin,Baby Won't You Please Come Home,../lyrics/deanmartin/babywontyoupleasecomehome...,"\n\nBaby, won't you please come home\n'Cause y...",NaN,NaN
407,25K,Dean Martin,I Don't Know Why (I Just Do),../lyrics/deanmartin/idontknowwhyijustdo.html,\n\nI don't know why I love ya like I do\nI do...,NaN,NaN
...,...,...,...,...,...,...,...
25672,25K,Jason Mraz,No Stopping Us,../lyrics/jasonmraz/nostoppingus.html,\n\nWould it take a bakers dozen to get my poi...,NaN,NaN
25673,25K,Jason Mraz,Sleep All Day,../lyrics/jasonmraz/sleepallday.html,\n\nHis after moan though cries oh no\nHe's bu...,NaN,NaN
25687,25K,Jason Mraz,Too Much Food,../lyrics/jasonmraz/toomuchfood.html,\n\nYou can say that I'm one curly fry in the ...,NaN,NaN
25708,25K,Jason Mraz,"On Love, In Sadness",../lyrics/jasonmraz/onloveinsadness.html,"\n\nOh love it's a brittle madness, I sing abo...",NaN,NaN
25720,25K,Jason Mraz,Absolutely Zero,../lyrics/jasonmraz/absolutelyzero.html,\n\nYou. You were a friend. You were a friend ...,NaN,NaN

In [69]:
lyrics_25k3_df[lyrics_25k3_df.duplicated(subset=['lyrics'])]

,original_csv,artist_name,song_name,link,lyrics,language,genre
287,25K,Dean Martin,Until You Love Someone,../lyrics/deanmartin/untilyoulovesomeone.html,\n\nUntil you find the one you want to want yo...,NaN,NaN
292,25K,Dean Martin,Be Honest With Me,../lyrics/deanmartin/behonestwithme.html,\n\nBe honest with me dear whatever you do\nRe...,NaN,NaN
371,25K,Dean Martin,Return To Me,../lyrics/deanmartin/returntome.html,\n\nReturn to me\nOh my dear I'm so lonely\nHu...,NaN,NaN
387,25K,Dean Martin,Baby Won't You Please Come Home,../lyrics/deanmartin/babywontyoupleasecomehome...,"\n\nBaby, won't you please come home\n'Cause y...",NaN,NaN
405,25K,Dean Martin,You're The Right One,../lyrics/deanmartin/youretherightone.html,"\n\nYour the right one\nYes, the right one\nI ...",NaN,NaN
...,...,...,...,...,...,...,...
25672,25K,Jason Mraz,No Stopping Us,../lyrics/jasonmraz/nostoppingus.html,\n\nWould it take a bakers dozen to get my poi...,NaN,NaN
25673,25K,Jason Mraz,Sleep All Day,../lyrics/jasonmraz/sleepallday.html,\n\nHis after moan though cries oh no\nHe's bu...,NaN,NaN
25687,25K,Jason Mraz,Too Much Food,../lyrics/jasonmraz/toomuchfood.html,\n\nYou can say that I'm one curly fry in the ...,NaN,NaN
25708,25K,Jason Mraz,"On Love, In Sadness",../lyrics/jasonmraz/onloveinsadness.html,"\n\nOh love it's a brittle madness, I sing abo...",NaN,NaN
25720,25K,Jason Mraz,Absolutely Zero,../lyrics/jasonmraz/absolutelyzero.html,\n\nYou. You were a friend. You were a friend ...,NaN,NaN

In [71]:
lyrics_25k3_df[lyrics_25k3_df.duplicated(keep = False)]
lyrics_25k3_df[lyrics_25k3_df.duplicated(subset=['lyrics'])]

,original_csv,artist_name,song_name,link,lyrics,language,genre
287,25K,Dean Martin,Until You Love Someone,../lyrics/deanmartin/untilyoulovesomeone.html,\n\nUntil you find the one you want to want yo...,NaN,NaN
292,25K,Dean Martin,Be Honest With Me,../lyrics/deanmartin/behonestwithme.html,\n\nBe honest with me dear whatever you do\nRe...,NaN,NaN
371,25K,Dean Martin,Return To Me,../lyrics/deanmartin/returntome.html,\n\nReturn to me\nOh my dear I'm so lonely\nHu...,NaN,NaN
387,25K,Dean Martin,Baby Won't You Please Come Home,../lyrics/deanmartin/babywontyoupleasecomehome...,"\n\nBaby, won't you please come home\n'Cause y...",NaN,NaN
405,25K,Dean Martin,You're The Right One,../lyrics/deanmartin/youretherightone.html,"\n\nYour the right one\nYes, the right one\nI ...",NaN,NaN
...,...,...,...,...,...,...,...
25672,25K,Jason Mraz,No Stopping Us,../lyrics/jasonmraz/nostoppingus.html,\n\nWould it take a bakers dozen to get my poi...,NaN,NaN
25673,25K,Jason Mraz,Sleep All Day,../lyrics/jasonmraz/sleepallday.html,\n\nHis after moan though cries oh no\nHe's bu...,NaN,NaN
25687,25K,Jason Mraz,Too Much Food,../lyrics/jasonmraz/toomuchfood.html,\n\nYou can say that I'm one curly fry in the ...,NaN,NaN
25708,25K,Jason Mraz,"On Love, In Sadness",../lyrics/jasonmraz/onloveinsadness.html,"\n\nOh love it's a brittle madness, I sing abo...",NaN,NaN
25720,25K,Jason Mraz,Absolutely Zero,../lyrics/jasonmraz/absolutelyzero.html,\n\nYou. You were a friend. You were a friend ...,NaN,NaN

In [72]:
lyrics_25k3_df.drop_duplicates(inplace = True)

In [73]:
lyrics_25k3_df[lyrics_25k3_df.duplicated(subset=['lyrics'])]

,original_csv,artist_name,song_name,link,lyrics,language,genre
287,25K,Dean Martin,Until You Love Someone,../lyrics/deanmartin/untilyoulovesomeone.html,\n\nUntil you find the one you want to want yo...,NaN,NaN
405,25K,Dean Martin,You're The Right One,../lyrics/deanmartin/youretherightone.html,"\n\nYour the right one\nYes, the right one\nI ...",NaN,NaN
420,25K,Dean Martin,Street Of Love (Rue De Mon Amour),../lyrics/deanmartin/streetofloveruedemonamour...,\n\nYou can stroll along the avenues\nChoose w...,NaN,NaN
765,25K,Dean Martin,The Peddler Man,../lyrics/deanmartin/thepeddlerman.html,"\n\n(Peddler Man, Peddler Man)\n\nCome along l...",NaN,NaN
1042,25K,Dean Martin,Outta My Mind,../lyrics/deanmartin/outtamymind.html,\n\nOuta my mind I must have been outa my mind...,NaN,NaN
...,...,...,...,...,...,...,...
24923,25K,Elton John,Don't Go Breaking My Heart,../lyrics/eltonjohn/dontgobreakingmyheart.html,\n\nDon't go breaking my heart\nI couldn't if ...,NaN,NaN
25035,25K,Aretha Franklin,(I Can't Get No) Satisfaction,../lyrics/arethafranklin/icantgetnosatisfactio...,\n\nI can't get no satisfaction\nI can't get n...,NaN,NaN
25174,25K,Aretha Franklin,A Rose Is Still A Rose,../lyrics/arethafranklin/aroseisstillarose.html,\n\nDoo doo doo\nDoo doo doo\nDoo doo doo\n\nT...,NaN,NaN
25374,25K,Phil Collins,Never Dreamed You'd Leave In Summer,../lyrics/philcollins/neverdreamedyoudleaveins...,\n\nI never dreamed you'd leave in summer\nI t...,NaN,NaN
25597,25K,Jason Mraz,Sleeping To Dream,../lyrics/jasonmraz/sleepingtodream.html,\n\nI'm dreaming of sleeping next to you\nI'm ...,NaN,NaN

In [97]:
lyrics_25k3_df.describe(include='all')

,original_csv,artist_name,song_name,link,lyrics,language,genre
count,25018,25018,25018,25018,25018,0.0,0.0
unique,1,542,21073,25018,24868,NaN,NaN
top,25K,Johnny Cash,Intro,../lyrics/rickynelson/haveitoldyoulatelythatil...,\n\n[Instrumental]\n,NaN,NaN
freq,25018,796,22,1,9,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
lyrics_25k3_df.iloc[0]['lyrics']

"\n\n[Brian:]\nClose your eyes, make a wish\nThat this could last forever\nIf only you could stay with me now\nSo tell me what it is\nThat keeps us from each other now\nYeah it's coming to get me\nYou're under my skin\n\n[Brian and All:]\nNo I can't let you go\nYou're a part of me now\nCaught by the taste of your kiss\nAnd I don't wanna know\nThe reason why I\nCan't stay forever like this\nNow I'm climbing the walls cause I miss you\n\n[Brian:]\nTake my hand, take my life\nJust don't take forever\nAnd let me feel your pain kept inside (oh yeah)\nThere's gotta be a way\nFor you and I together now\nYeah it's coming to get me\nYou're under my skin\n\n[Brian and All:]\nNo I can't let you go\nYou're a part of me now\nCaught by the taste of your kiss (ohh)\nAnd I don't wanna know\nThe reason why I\nCan't stay forever like this\nNow I'm climbing the walls cause I miss you\n\n[Howie:]\nIt's an illusion\n\n[Howie and Kevin:]\nHow can I feel this way?\n\n[AJ and Kevin:]\nIf I can't have you\n\n[Howie:]\nIt's an illusion\n\n[Howie and Kevin:]\nNothing is real this way\n\n[AJ and Kevin:]\nIf I can't have you\n\n[Brian and All (Nick):]\nNo I can't let you go\nYou're a part of me now (now)\nCaught by the taste of your kiss (I don't wanna know)\nAnd I don't wanna know\nThe reason why I\nCan't stay forever like this (I'm climbing the walls)\nNow I'm climbing the walls cause I miss\n\n[AJ and Nick:]\nYou\n\n[Brian:]\nOhhhh\nI can't let you go no\n\n[All:]\nAnd I don't wanna know\nThe reason why I\nCan't stay forever like this (ohh ohh)\nNow I'm climbing the walls cause I miss (I miss) you\n"

In [75]:
download_file_from_bucket('worm-begin', 'album_details_25k.csv', 'year_df.csv')
year_df = pd.read_csv('year_df.csv')
"""Strip the  'Lyrics' off of every 'singer_name', reduce to just what I need
to pd-merge and the year column I want to add to the main csv"""
year_df['singer_name'].replace(('Lyrics'), '', regex = True, inplace = True)
year2_df = pd.DataFrame((year_df), columns=['singer_name','year'])
year2_df=year2_df.rename(columns={'singer_name':'artist_name'})
"""This list was by artist-albums-years, so artist - years came up with 
multiple years per artist.  WHen it merged, it merged for each year.  The DF grew
by a factor of 28."""

'This list was by artist-albums-years, so artist - years came up with \nmultiple years per artist.  WHen it merged, it merged for each year.  The DF grew\nby a factor of 28.'

In [76]:
year2_df

        artist_name         year
0     Taylor Swift          2006
1     Taylor Swift          2007
2     Taylor Swift          2008
3     Taylor Swift          2010
4     Taylor Swift          2012
...             ...          ...
1814    Jason Mraz          2012
1815    Jason Mraz          2014
1816    Jason Mraz          2018
1817    Jason Mraz          2020
1818    Jason Mraz   Not Defined

[1819 rows x 2 columns]

In [ ]:
"""how do I just have the one at for one artist??"""
# drop duplicates at date!!

In [77]:
year2_df[year2_df.duplicated()]

         artist_name  year
10    Ariana Grande   2013
28     Shawn Mendes   2018
46    Frank Sinatra   1950
48    Frank Sinatra   1954
52    Frank Sinatra   1957
...              ...   ...
1769         Prince   2014
1771         Prince   2015
1781     Switchfoot   2006
1786     Switchfoot   2014
1809     Jason Mraz   2002

[306 rows x 2 columns]

In [79]:
year2_df.drop_duplicates(inplace = True)
year2_df[year2_df.duplicated()]

Empty DataFrame
Columns: [artist_name, year]
Index: []

In [81]:
year2_df.head(100)

       artist_name  year
0    Taylor Swift   2006
1    Taylor Swift   2007
2    Taylor Swift   2008
3    Taylor Swift   2010
4    Taylor Swift   2012
..             ...   ...
129   Linkin Park   2003
130   Linkin Park   2004
131   Linkin Park   2007
132   Linkin Park   2008
133   Linkin Park   2009

[100 rows x 2 columns]

In [82]:
year2_df[year2_df.duplicated(subset='artist_name')]

        artist_name         year
1     Taylor Swift          2007
2     Taylor Swift          2008
3     Taylor Swift          2010
4     Taylor Swift          2012
5     Taylor Swift          2014
...             ...          ...
1814    Jason Mraz          2012
1815    Jason Mraz          2014
1816    Jason Mraz          2018
1817    Jason Mraz          2020
1818    Jason Mraz   Not Defined

[1365 rows x 2 columns]

In [84]:
year2_df.drop_duplicates(subset = ['artist_name'], inplace = True)

In [85]:
year2_df[year2_df.duplicated(subset='artist_name')]

Empty DataFrame
Columns: [artist_name, year]
Index: []

In [86]:
year2_df.describe(include='all')

                 artist_name  year
count                    148   148
unique                   148    52
top     6ix9ine (Tekashi69)   2002
freq                       1     6

In [87]:
download_file_from_bucket('worm-begin', 'album_details_25k.csv', 'year_df.csv')
yearA_df = pd.read_csv('year_df.csv')
"""Strip the  'Lyrics' off of every 'singer_name', reduce to just what I need
to pd-merge and the year column I want to add to the main csv"""
yearA_df['singer_name'].replace(('Lyrics'), '', regex = True, inplace = True)
yearB_df = pd.DataFrame((yearA_df), columns=['singer_name','year'])
yearB_df=yearB_df.rename(columns={'singer_name':'artist_name'})
"""This list was by artist-albums-years, so artist - years came up with 
multiple years per artist.  WHen it merged, it merged for each year.  The DF grew
by a factor of 28."""

'This list was by artist-albums-years, so artist - years came up with \nmultiple years per artist.  WHen it merged, it merged for each year.  The DF grew\nby a factor of 28.'

In [88]:
yearB_df

        artist_name         year
0     Taylor Swift          2006
1     Taylor Swift          2007
2     Taylor Swift          2008
3     Taylor Swift          2010
4     Taylor Swift          2012
...             ...          ...
1814    Jason Mraz          2012
1815    Jason Mraz          2014
1816    Jason Mraz          2018
1817    Jason Mraz          2020
1818    Jason Mraz   Not Defined

[1819 rows x 2 columns]

In [89]:
yearB_df[yearB_df.duplicated()]

         artist_name  year
10    Ariana Grande   2013
28     Shawn Mendes   2018
46    Frank Sinatra   1950
48    Frank Sinatra   1954
52    Frank Sinatra   1957
...              ...   ...
1769         Prince   2014
1771         Prince   2015
1781     Switchfoot   2006
1786     Switchfoot   2014
1809     Jason Mraz   2002

[306 rows x 2 columns]

In [90]:
yearB_df[yearB_df.duplicated(subset=['artist_name'])]

        artist_name         year
1     Taylor Swift          2007
2     Taylor Swift          2008
3     Taylor Swift          2010
4     Taylor Swift          2012
5     Taylor Swift          2014
...             ...          ...
1814    Jason Mraz          2012
1815    Jason Mraz          2014
1816    Jason Mraz          2018
1817    Jason Mraz          2020
1818    Jason Mraz   Not Defined

[1671 rows x 2 columns]

In [96]:
yearB_df.drop_duplicates(subset=['artist_name'], inplace = True)
yearB_df

             artist_name  year
0          Taylor Swift   2006
9         Ariana Grande   2013
17        Nelly Furtado   2000
24         Shawn Mendes   2014
30             Westlife   1999
...                  ...   ...
1775         Switchfoot   1997
1791         Noah Cyrus   2018
1794       Phil Collins   1981
1805  Pharrell Williams   2006
1808         Jason Mraz   2002

[148 rows x 2 columns]

In [99]:
Main_25k_df = pd.merge(lyrics_25k3_df, yearB_df, on='artist_name')
Main_25k_df.describe(include='all')

,original_csv,artist_name,song_name,link,lyrics,language,genre,year
count,23141,23141,23141,23141,23141,0.0,0.0,23141
unique,1,141,19610,23141,23014,NaN,NaN,51
top,25K,Johnny Cash,Intro,../lyrics/backstreetboys/crawlingbacktoyou.html,\n\n[Instrumental]\n,NaN,NaN,2005
freq,23141,796,20,1,9,NaN,NaN,1379
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
Main_25k_df.to_csv('Main2_25k.csv', index = False)

In [104]:
!pwd

/Users/Gretzky/desktop/ds@gt/Capstone_2/Lyric_Datasets

In [106]:
Main_25k_df

,original_csv,artist_name,song_name,link,lyrics,language,genre,year
0,25K,Backstreet Boys,Climbing The Walls,../lyrics/backstreetboys/climbingthewalls.html,"\n\n[Brian:]\nClose your eyes, make a wish\nTh...",NaN,NaN,1995
1,25K,Backstreet Boys,Everytime I Close My Eyes,../lyrics/backstreetboys/everytimeiclosemyeyes...,\n\nEverytime I close my eyes\nEverytime I clo...,NaN,NaN,1995
2,25K,Backstreet Boys,New Love,../lyrics/backstreetboys/newlove.html,"\n\nOh yeah\nOh, oh, oh yeah\nOh, oh, oh, oh y...",NaN,NaN,1995
3,25K,Backstreet Boys,The Perfect Fan,../lyrics/backstreetboys/theperfectfan.html,\n\nIt takes a lot to know what is love\nIt's ...,NaN,NaN,1995
4,25K,Backstreet Boys,Trust Me,../lyrics/backstreetboys/trustme.html,\n\nLet me tell you about this girl I know\nFi...,NaN,NaN,1995
...,...,...,...,...,...,...,...,...
23136,25K,Noah Cyrus,fuckyounoah,../lyrics/noahcyrus/fuckyounoah.html,\n\n(We got London On Da Track)\n\nI'm a narci...,NaN,NaN,2018
23137,25K,Noah Cyrus,Lonely,../lyrics/noahcyrus/lonely.html,\n\nI'm slowly killing myself\nI'm trying so h...,NaN,NaN,2018
23138,25K,Noah Cyrus,I Got So High That I Saw Jesus,../lyrics/noahcyrus/igotsohighthatisawjesus.html,"\n\nI got so high that I saw Jesus\nHe said, i...",NaN,NaN,2018
23139,25K,Noah Cyrus,July,../lyrics/noahcyrus/july.html,\n\nI've been holding my breath\nI've been cou...,NaN,NaN,2018
23140,25K,Noah Cyrus,Stay Together,../lyrics/noahcyrus/staytogether.html,\n\nI drank straight to my head\nI went outsid...,NaN,NaN,2018

In [103]:
Main_25k_df[Main_25k_df.duplicated()]

Empty DataFrame
Columns: [original_csv, artist_name, song_name, link, lyrics, language, genre, year]
Index: []